:root {
  --primary: #006341;
}
body {
  margin: 0;
}
h1 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 2.0rem 0;
  color: var(--primary);
  line-height: 1.1; 
}
footer {
  background-color: #000000;
  color: #ffffff;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
