:root {
  --primary: #006341;
}
body {
  margin: 0;
  font-family: area-normal, sans-serif;
  font-style: normal;
  font-weight: 100;
}
h1 {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 2.0rem 0;
  color: var(--primary);
  line-height: 1.1; 
  padding: 0;
  margin: 0;
}
h2 {
  font-weight: 100;
}
h3 {
  font-weight: 700;
}
footer {
  background-color: #000000;
  color: #ffffff;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.fresh-green {
  display:flex;
  background: #00b2a9;
}
.base-font {
  font-family: arial, sans-serif;
}
